<div class="login-overlay">
  <mat-card class="form-container">
    <div class="login-header">
      <mat-icon class="login-icon">person</mat-icon>

      <h3 class="login-title">Login</h3>
    </div>

    <button mat-raised-button class="google-btn" (click)="login()">
      <img class="google-logo" src="../../assets/google-logo.svg">
      Sign in
    </button>
  </mat-card>
</div>

<footer class="login-footer">
  <div class="footer-section">
    ©Developed by Agustin Palacios
  </div>
</footer>
