<app-header>
    <button mat-icon-button *ngIf="!(isAuthenticated$ | async)" [routerLink]="['/signin']">
        <mat-icon>person</mat-icon>
    </button>
    <button class="avatar-btn" [matMenuTriggerFor]="appMenu2" *ngIf="(isAuthenticated$ | async) && (user$ | async)">
        <img [src]="(user$ | async)?.image" class="avatar">
    </button>
    <mat-menu #appMenu2="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</app-header>
<router-outlet></router-outlet>